@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "poppins";
}

/* .container {
  max-width: 90%;
  margin: 0 auto;
} */
::-webkit-scrollbar {
  width: 0.2rem;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 500px;
  background-color: #adadad;
}
.gradient-home {
  background: linear-gradient(
    90.13deg,
    #9289c8 0.09%,
    #9289c8 0.1%,
    #38346f 99.87%
  );
}
